<div class="well">
  <ul class='list-group'>
    <%= content_tag :div, class: "freq_information", data: {notes: @scale.notes } do %>
    <% end %>
    <%= notes_tree_for @scale.notes.hash_tree %>
  </ul>
</div>
