<h1>Browse User Scales:</h1>

<br>

<% if @scales.any? %>
  <div class="well">
    <ul id="scales_list" class="list-group">
      <% @scales.each do |scale| %>
        <li class="list-group-item"><%= link_to scale.name, scale_path(scale) %>
          - by <%= link_to scale.user.name, user_path(scale.user) %>
        </li>
      <% end %>
    </ul>
  </div>

<% else %>
  <h5>There are no scales, click below to add one</h5>

<% end %>

<hr>
<div id= "newScaleButton" class="bigButton centered">
  <%= link_to "New Scale", scales_path, :method => :post, class: 'btn btn-primary btn-outline btn-lg centered' %>
</div>
<br>
